# Environment variables

# Required: Set the base URL of the application. Mostly used for the SEO tags. No trailing slash.
NEXT_PUBLIC_BASE_URL=

# ------ Dev ------

# Optional: Set the dev mode ("true" or "false"). Default to "false".
NEXT_PUBLIC_DEV_MODE=false
